.twitter {
  &__card {
    background: #242829;
    padding: 20px;
    border-radius: 5px;
    &_img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }
    &_profile {
      &-name {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        margin-bottom: -7px;
      }
      &-username {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    &_content {
      font-size: 14px;
      color: #ccc;
      margin-top: 15px;
      margin-bottom: 30px;
      line-height: 1.5rem;
      img {
        margin-top: 10px;
        max-width: 100%;
      }
    }
    &_footer {
      &-date {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
      }
      &-divider {
        height: 1px;
        width: 100%;
        background: #fff;
        margin-top: 5px;
      }
      &-icons {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
        display: flex;
        z-index: 5000;
        justify-content: space-between;
        // background: blue;
        &_icon {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 300;
          display: inline-block;
          font-size: 18px;
          padding: 0;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            color: rgba(15, 110, 253, 0.7);
          }
        }
      }
    }
  }
}
