<section class="twitter">
  <div class="twitter__toolbar">
    <img src="assets/images/logo.png" class="twitter__toolbar_logo">
  </div>
  <div class="twitter__container">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Type your wallet</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Type your wallet">
        <small id="emailHelp" class="form-text text-muted">Provide valid wallet</small>
      </div> <br />

      <button routerLink="/tweets" class="btn btn-primary">SUBMIT</button>
    </form>
  </div>

</section>
